<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务调度系统-实例列表</title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }
    </script>
    <script type="text/javascript">

        var url = "http://127.0.0.1:8089/"
        var dftId = getQueryVariable("definitionID");
        if (!dftId) {
            alert("未获取到任务定义ID!")
        } else {
            $.ajax({
                url: url + "job/instance/list",
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({"jonDefinitionID": dftId, "pageIndex": 1, "pageSize": 10}),
                cache: false,
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    console.log(res);
                    var data = res.data;
                    var html = "";
                    for (key in data) {
                        var obj = data[key];
                        html += "<tr>\n" +
                            "      <td>" + obj.id + "</td>\n" +
                            "      <td>" + obj.startTime + "</td>\n" +
                            "      <td>" + obj.endTime + "</td>\n" +
                            "      <td>" + (obj.triggerType == 1 ? "Java" : "其他") + "</td>\n" +
                            "      <td>" + obj.triggerWorker + "</td>\n" +
                            "      <td>" + (obj.triggerResult == 1 ? "执行成功" : "执行失败") + "</td>\n" +
                            "    </tr>"
                    }
                    $("#tableContent").html(html);
                }
            });
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式任务调度系统</a>
        </div>
    </div>

</nav>
<table class="table">
    <thead>
    <tr>
        <th style="text-align: center;">编号</th>
        <th style="text-align: center;">触发时间</th>
        <th style="text-align: center;">结束时间</th>
        <th style="text-align: center;">触发类型</th>
        <th style="text-align: center;">执行机器</th>
        <th style="text-align: center;">执行结果</th>
    </tr>
    </thead>
    <tbody id="tableContent" style="text-align: center;">

    </tbody>
</table>
</body>
</html>