<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumu.jobserver.mapper.JobMapper">

    <insert id="insertJobDefinition" parameterType="com.sumu.jobserver.modal.job.JobDefinitionDO"
            useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
            insert into JOB_CUSTOM_JOB_DEFINITION(
            `app_id`,
            `job_name`,
            `job_desc`,
            `job_cron`,
            `enable`,
            `task_type`
            )
            values (
            #{appId},
            #{jobName},
            #{jobDesc},
            #{cron},
            #{enable},
            #{taskType}
            )
    </insert>

    <insert id="insertJavaJobDefinition" parameterType="com.sumu.jobserver.modal.job.JavaJobDO"
            useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
            insert into JOB_CUSTOM_JOB_DEFINITION_JAVA(
            `definition_id`,
            `handler_name`,
            `strategy`
            )
            values (
            #{definitionID},
            #{handlerName},
            #{strategy}
            )
    </insert>

    <insert id="insertJobInstance" parameterType="com.sumu.jobserver.modal.job.JobInstanceDO" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
            insert into JOB_CUSTOM_JOB_INSTANCE(
            `job_definition_id`,
            `start_time`,
            `end_time`,
            `trigger_type`,
            `trigger_worker`,
            `trigger_result`
            )
            values (
                #{jobDefinitionId},
                #{startTime},
                #{endTime},
                #{triggerType},
                #{triggerWorker},
                #{triggerResult}
            )
    </insert>

    <select id="getJobDefinitionByID" resultMap="jobDefinitionMap">
        select
        <include refid="definition_column"/>
        from JOB_CUSTOM_JOB_DEFINITION where id = #{id}
    </select>

    <select id="jobDefinitionList" parameterType="com.sumu.jobserver.api.vo.query.JobDefinitionQuery"
            resultMap="jobDefinitionMap">
        select
        <include refid="definition_column"/>
        from
        JOB_CUSTOM_JOB_DEFINITION
        where
        1=1
        <if test="jobDefinitionQuery.appID!=null">
            and app_id = #{jobDefinitionQuery.appID}
        </if>
        <if test="jobDefinitionQuery.handlerName!=null">
            and handler_name = #{jobDefinitionQuery.handlerName}
        </if>
        limit #{jobDefinitionQuery.pageIndex},#{jobDefinitionQuery.pageSize}
    </select>

    <select id="jobInstanceList" parameterType="com.sumu.jobserver.api.vo.query.JobInstanceQuery"
            resultMap="jobInstanceMap">
        select
        <include refid="instance_column"/>
        from
        JOB_CUSTOM_JOB_INSTANCE
        where

        job_definition_id = #{jobInstanceQuery.jonDefinitionID}
        limit #{jobInstanceQuery.pageIndex},#{jobInstanceQuery.pageSize}
    </select>

    <select id="getJavaJobDefinitionByDefId" resultMap="javaJobDefinitionMap">
        select
        <include refid="java_definition_column"/>
        from JOB_CUSTOM_JOB_DEFINITION_JAVA
        where definition_id = #{definitionID}
    </select>

    <sql id="definition_column">
         id,app_id,job_name,job_desc,job_cron,enable,task_type
    </sql>

    <sql id="java_definition_column">
         id,definition_id,handler_name,strategy
    </sql>

    <sql id="instance_column">
        id,job_definition_id,start_time,end_time,trigger_type,trigger_worker,trigger_result
    </sql>

    <resultMap id="jobDefinitionMap" type="com.sumu.jobserver.modal.job.JobDefinitionDO">
        <result property="id" column="id"/>
        <result property="appId" column="app_id"/>
        <result property="jobName" column="job_name"/>
        <result property="jobDesc" column="job_desc"/>
        <result property="cron" column="job_cron"/>
        <result property="enable" column="enable"/>
        <result property="taskType" column="task_type"/>
    </resultMap>

    <resultMap id="javaJobDefinitionMap" type="com.sumu.jobserver.modal.job.JavaJobDO">
        <result property="id" column="id"/>
        <result property="definitionID" column="definition_id"/>
        <result property="handlerName" column="handler_name"/>
        <result property="strategy" column="strategy"/>
    </resultMap>

    <resultMap id="jobInstanceMap" type="com.sumu.jobserver.modal.job.JobInstanceDO">
        <result property="id" column="id"/>
        <result property="jobDefinitionId" column="job_definition_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="triggerType" column="trigger_type"/>
        <result property="triggerWorker" column="trigger_worker"/>
        <result property="triggerResult" column="trigger_result"/>
    </resultMap>
</mapper>
