<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumu.jobserver.mapper.WorkerMapper">

    <insert id="registerWorker">
        insert into JOB_CUSTOM_WORKER (app_id,ip,port,host_name,zxid,enable)
        values (#{appId},#{ip},#{port},#{hostname},#{zxid},1)
        on duplicate key update
            app_id = IF((#{zxid} > zxid), #{appId}, app_id),
            host_name = IF((#{zxid} > zxid), #{hostname}, host_name),
            zxid = IF((#{zxid} > zxid), #{zxid}, zxid),
            enable = IF((#{zxid} > zxid), 1, enable)
            ;
    </insert>

    <update id="unRegisterWorker">

        update JOB_CUSTOM_WORKER set enable = 0
        where ip = #{ip}
          and port = #{port}
          and #{zxid} >= zxid

    </update>
</mapper>