<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务调度系统-实例列表</title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/paging.js"></script>

    <script type="text/javascript">
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }
    </script>

    <script type="text/javascript">
        var pageIndex = 1;
        var pageSize = 10;
        var total = 0;
        var dftId = getQueryVariable("definitionID");
        var url = "/"
        $(function () {
            if (!dftId) {
                alert("未获取到任务定义ID!")
            } else {
                refresh();
                var a = {color: 'black', sex: 'black', border: '1px solid #ddd'};
                var b = {background: '#31b0d5'};
                $(".pagination").Paging({
                    classStyle: a,//a标签样式的对象,也可以不定义使用默认值
                    backClass: b,//选中的页数的背景，也可以不定义使用默认值
                    isFirst: true,   //首页按钮是否显示
                    isPre: true,     //下一页按钮是否显示
                    showRecordNum: 10, // 一页列表数量
                    totalNum: total,   // 总列表数量
                    showNum: function (data1, data2) {
                        // alert(data1 + "," + data2);
                        console.log(data1 + "-" + pageIndex)
                        if (pageIndex != data1) {
                            pageIndex = data1;
                            pageSize = data2;
                            refresh();
                        }
                    }
                });
            }
        });

    </script>
    <script type="text/javascript">
        function refresh() {
            $.ajax({
                url: url + "job/instance/list",
                type: 'post',
                dataType: 'json',
                async: false,
                data: JSON.stringify({"jonDefinitionID": dftId, "pageIndex": pageIndex, "pageSize": pageSize}),
                cache: false,
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    console.log(res);
                    var data = res.data.result;
                    total = res.data.total;
                    var html = "";
                    for (key in data) {
                        var obj = data[key];
                        html += "<tr>\n" +
                            "      <td>" + obj.id + "</td>\n" +
                            "      <td>" + obj.startTime + "</td>\n" +
                            "      <td>" + obj.endTime + "</td>\n" +
                            "      <td>" + (obj.triggerType == 1 ? "自动执行" : "手动触发") + "</td>\n" +
                            "      <td>" + obj.triggerWorker + "</td>\n" +
                            "      <td>" + (obj.triggerResult == 1 ? "执行成功" : (obj.triggerResult == 0 ? "执行失败" : "执行中/执行异常")) + "</td>\n" +
                                "    </tr>";
                    }
                    $("#tableContent").html(html);
                }
            });
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式任务调度系统</a>
        </div>
    </div>

</nav>
<table class="table">
    <thead>
    <tr>
        <th style="text-align: center;">编号</th>
        <th style="text-align: center;">触发时间</th>
        <th style="text-align: center;">结束时间</th>
        <th style="text-align: center;">触发类型</th>
        <th style="text-align: center;">执行机器</th>
        <th style="text-align: center;">执行结果</th>
    </tr>
    </thead>
    <tbody id="tableContent" style="text-align: center;">

    </tbody>
</table>
<nav aria-label="Page navigation" style="text-align: center">
    <ul class="pagination"></ul>
</nav>
</body>
</html>