<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务调度系统-任务列表</title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8089/paging.js"></script>

    <script type="text/javascript">
        var id = 0;
        var url = "/"
        var pageIndex = 1;
        var pageSize = 10;
        var total = 0;
        $.ajax({
            url: url + "app/getAppList",
            type: 'get',
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (res) {
                var data = res.data;
                for (key in data) {
                    var obj = data[key];
                    $("#appSelect").append("<option value=" + obj.id + ">" + obj.appName + "</option>");
                }
            }
        })

    </script>
    <script type="text/javascript">
        $(function () {
            refresh();
            var a = {color: 'black', sex: 'black', border: '1px solid #ddd'};
            var b = {background: '#31b0d5'};
            $(".pagination").Paging({
                classStyle: a,//a标签样式的对象,也可以不定义使用默认值
                backClass: b,//选中的页数的背景，也可以不定义使用默认值
                isFirst: true,   //首页按钮是否显示
                isPre: true,     //下一页按钮是否显示
                showRecordNum: 10, // 一页列表数量
                totalNum: total,   // 总列表数量
                showNum: function (data1, data2) {
                    // alert(data1 + "," + data2);
                    console.log(data1 + "-" + pageIndex)
                    if (pageIndex != data1) {
                        pageIndex = data1;
                        pageSize = data2;
                        refresh();
                    }
                }
            });
        });
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">分布式任务调度系统</a>
        </div>
    </div>
    <div align="right" style="margin: 0 60px;">
        <div class="navbar-form navbar-left" role="search" style="width: 100%;">
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="应用">-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="类型">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">搜索</button>-->
            <button class="btn btn-info" onclick="addJob()">新建任务</button>

        </div>
    </div>

</nav>
<table class="table">
    <thead>
    <tr>
        <th style="text-align: center;">应用</th>
        <th style="text-align: center;">名称</th>
        <th style="text-align: center;">Cron</th>
        <th style="text-align: center;">状态</th>
        <th style="text-align: center;">类型</th>
        <!--<th style="text-align: center;">后置Job</th>-->
        <th style="text-align: center;">操作</th>
    </tr>
    </thead>
    <tbody id="tableContent" style="text-align: center;">

    </tbody>
</table>

<nav aria-label="Page navigation" style="text-align: center">
    <ul class="pagination"></ul>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新建任务</h4>
            </div>
            <div style="padding: 20px">
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">选择应用</div>
                    <select id="appSelect" class="form-control" style="margin: 0px 10px">
                    </select>
                </div>
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">任务名称</div>
                    <input id="jobName" type="text" class="form-control" style="margin: 0px 10px" placeholder="">
                </div>
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">任务描述</div>
                    <input id="jobDesc" type="text" class="form-control" style="margin: 0px 10px" placeholder="">
                </div>
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">任务类型</div>
                    <select id="jobType" class="form-control" style="margin: 0px 10px">
                        <option value="1">Java任务</option>
                    </select>
                </div>
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">Cron表达式</div>
                    <input id="jobCron" type="text" class="form-control" style="margin: 0px 10px" placeholder="">
                </div>
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">状态</div>
                    <label class="radio-inline">
                        <input type="radio" name="jobState" id="optionsRadios3" value="1" checked> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="jobState" id="optionsRadios4" value="0"> 关闭
                    </label>
                </div>
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">Handler名称</div>
                    <input id="handlerName" type="text" class="form-control" style="margin: 0px 10px" placeholder="">
                </div>
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">执行策略</div>
                    <select id="jobStrategy" class="form-control" style="margin: 0px 10px">
                        <option value="1">默认(集群)</option>
                        <option value="2">广播</option>
                        <option value="3">分片</option>
                    </select>
                </div>
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">分片数量</div>
                    <input id="jobShard" type="text" class="form-control" style="margin: 0px 10px" placeholder="">
                </div>
                <div class="form-group" style="display: flex">
                    <div style="width: 15%;display: flex;align-items: center;">后置Job</div>
                    <input id="postDefinitionID" type="text" class="form-control" style="margin: 0px 10px"
                           placeholder="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="submit()">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
<script type="text/javascript">
    function addJob() {
        id = 0;
        $('#myModal').modal('show');
    }

    function submit() {
        var appId = $("#appSelect").val();
        if (!appId) {
            alert("应用 不能为空")
            return;
        }
        var jobName = $("#jobName").val();
        if (!jobName) {
            alert("任务名称 不能为空")
            return;
        }
        var jobDesc = $("#jobDesc").val();
        var taskType = $("#jobType").val();
        if (!taskType) {
            alert("任务类型 不能为空")
            return;
        }
        var jobCron = $("#jobCron").val();
        if (!jobCron) {
            alert("Cron 不能为空")
            return;
        }
        var jobState = $("input[name='jobState']:checked").val();
        var handlerName = $("#handlerName").val();
        if (taskType == 1 && !handlerName) {
            alert("HandlerName 不能为空")
            return;
        }
        var jobStrategy = $("#jobStrategy").val();
        if (taskType == 1 && !jobStrategy) {
            alert("执行策略 不能为空")
            return;
        }
        var jobShard = $("#jobShard").val();
        if (jobStrategy == 3 && (!jobShard || jobShard < 1)) {
            alert("分片策略不能小于1")
            return;
        }
        var postDefinitionID = $("#postDefinitionID").val();
        var javaJobVO = {
            "handlerName": handlerName,
            "strategy": jobStrategy,
            "shardNum": jobShard
        };
        var addJobVO = {
            "id": id,
            "appId": appId,
            "jobName": jobName,
            "jobDesc": jobDesc,
            "taskType": taskType,
            "javaJobVO": javaJobVO,
            "cron": jobCron,
            "enable": jobState == 1,
            "postDefinitionID": postDefinitionID
        };
        if (id == 0) {
            $.ajax({
                url: url + "job/add",
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(addJobVO),
                cache: false,
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    console.log(res)
                    if (res.success)
                        $('#myModal').modal('hide');
                    else
                        alert(res.msg)
                }
            })
        } else {
            $.ajax({
                url: url + "job/edit",
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(addJobVO),
                cache: false,
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    console.log(res)
                    if (res.success)
                        $('#myModal').modal('hide');
                    else
                        alert(res.msg)
                }
            })
        }
    }

    function editJob(definitionId) {
        id = definitionId
        $.ajax({
            url: url + "job/definition/detail/" + id,
            type: 'get',
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (res) {
                var obj = res.data;
                $("#appSelect").val(obj.appId);
                $("#jobName").val(obj.jobName);
                $("#jobDesc").val(obj.jobDesc);
                $("#jobCron").val(obj.cron);
                if (obj.enable) {
                    $('input[name=jobState]').get(0).checked = true;
                } else {
                    $('input[name=jobState]').get(1).checked = true;
                }
                $("#handlerName").val(obj.javaJobVO.handlerName);
                $("#jobShard").val(obj.javaJobVO.shardNum);
                $("#jobStrategy").val(obj.javaJobVO.strategy);
                $('#myModal').modal('show');
            }
        })
    }

    function pauseJob(id) {
        $.ajax({
            url: url + "job/pause/" + id,
            type: 'put',
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (res) {
                console.log(res)
            }
        })
    }

    function triggerJob(id) {
        $.ajax({
            url: url + "job/trigger/" + id,
            type: 'put',
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (res) {
                console.log(res)
            }
        })
    }

    function resumeJob(id) {
        $.ajax({
            url: url + "job/resume/" + id,
            type: 'put',
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (res) {
                console.log(res)
            }
        })
    }

    function jumpInstance(id) {
        window.open("job-instance.html?definitionID=" + id)
    }

    function jumpDag(id) {
        window.open("dag.html?definitionID=" + id)
    }
    function refresh() {
        $.ajax({
            url: url + "job/definition/list",
            type: 'post',
            dataType: 'json',
            async: false,
            data: JSON.stringify({"pageIndex": pageIndex, "pageSize": pageSize}),
            cache: false,
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (res) {
                var data = res.data.result;
                total = res.data.total;
                var html = "";
                for (key in data) {
                    var obj = data[key];
                    html += "<tr>\n" +
                        "      <td>" + obj.appName + "</td>\n" +
                        "      <td>" + obj.jobName + "</td>\n" +
                        "      <td>" + obj.cron + "</td>\n" +
                        "      <td>" + (obj.enable ? '启动' : '暂停') + "</td>\n" +
                        "      <td>" + (obj.taskType == 1 ? 'Java' : '其他') + "</td>\n" +
                        // "      <td>" + (obj.postDefinitionID) + "</td>\n" +
                        '      <td>' +
                        '     <button type="button" class="btn btn-default" onclick="editJob(' + obj.id + ')">编辑</button>' +
                        '     <button type="button" class="btn btn-info" onclick="triggerJob(' + obj.id + ')">立即执行</button>' +
                        '         ' + (obj.enable ? '<button type="button" class="btn btn-danger" onclick="pauseJob(' + obj.id + ')">暂停</button>'
                            : '<button type="button" class="btn btn-success" onclick="resumeJob(' + obj.id + ')">启动</button>') +
                        '          <button type="button" class="btn btn-primary"  onclick="jumpInstance(' + obj.id + ')">执行记录</button>' +
                        '          <button type="button" class="btn btn-primary"  onclick="jumpDag(' + obj.id + ')">任务执行图</button>' +
                        '      </td>' +
                        "    </tr>"
                }
                $("#tableContent").html(html);
            },
            error: function (e) {

            }
        });
    }
</script>
</html>