<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumu.jobserver.scheduler.mapper.WorkerMapper">

    <insert id="registerWorker" >
        insert into JOB_CUSTOM_WORKER (app_id,ip,port,host_name,zxid,enable)
        values (
        #{entity.appId},
        #{entity.ip},
        #{entity.port},
        #{entity.hostName},
        #{entity.zxID}
        ,1)
        on duplicate key update
            app_id = IF((#{entity.zxID} > zxid), #{entity.appId}, app_id),
            host_name = IF((#{entity.zxID} > zxid), #{entity.hostName}, host_name),
            enable = IF((#{entity.zxID} > zxid), 1, enable),
             zxid = IF((#{entity.zxID} > zxid), #{entity.zxID}, zxid)
            ;
    </insert>

    <update id="unRegisterWorker">

        update JOB_CUSTOM_WORKER set enable = 0
        where ip = #{ip}
          and port = #{port}
          and #{zxid} >= zxid

    </update>

    <select id="getRunWorkerByAppID" resultMap="workerMap">
        select
        <include refid="worker"/>
        from JOB_CUSTOM_WORKER where
        app_id = #{appID}
        and
        enable = 1
    </select>

    <sql id="worker">
         id,app_id,ip,port,host_name
    </sql>

    <resultMap id="workerMap" type="com.sumu.jobserver.scheduler.modal.worker.WorkerDO">
        <result column="id" property="id"/>
        <result column="app_id" property="appID"/>
        <result column="ip" property="ip"/>
        <result column="port" property="port"/>
        <result column="host_name" property="hostName"/>
    </resultMap>
</mapper>